:root {
  --bg: #050505;
  --card: rgba(255,255,255,0.06);
  --border: rgba(255,255,255,0.08);

  --green: #69F58C;
  --green-dark: #41D56A;

  --red: #FF6B6B;

  --text: #ffffff;
  --sub: #8C8C8C;

  --shadow:
    0 12px 30px rgba(0,0,0,0.45);
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;

  font-family:
    Inter,
    Arial,
    sans-serif;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background:
    radial-gradient(
      circle at top right,
      rgba(105,245,140,0.12),
      transparent 30%
    ),

    var(--bg);

  color: var(--text);

  min-height: 100vh;

  display: flex;
  justify-content: center;

  padding:
    max(20px, env(safe-area-inset-top))
    14px
    max(40px, env(safe-area-inset-bottom));
}

#app {
  width: 100%;

  max-width: 420px;
}

.card {
  background: var(--card);

  border: 1px solid var(--border);

  border-radius: 28px;

  backdrop-filter: blur(12px);

  box-shadow: var(--shadow);
}

.hidden {
  display: none !important;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

input,
select {
  width: 100%;

  border: none;
  outline: none;

  background: #151515;

  color: white;

  padding: 18px;

  border-radius: 18px;

  font-size: 16px;

  margin-bottom: 14px;
}

select {
  appearance: none;
}

canvas {
  width: 100% !important;
  height: auto !important;
}