.hero {
  margin-bottom: 22px;
}

.hero-top {
  display: flex;

  align-items: center;
  justify-content: space-between;

  margin-bottom: 18px;
}

.sub {
  color: var(--sub);

  font-size: 14px;

  margin-bottom: 6px;
}

h1 {
  font-size: 52px;

  line-height: 0.95;

  letter-spacing: -2px;
}

.add-btn {
  width: 58px;
  height: 58px;

  border-radius: 20px;

  background:
    linear-gradient(
      135deg,
      var(--green),
      var(--green-dark)
    );

  color: black;

  font-size: 34px;
  font-weight: 700;

  box-shadow:
    0 12px 24px rgba(105,245,140,0.25);
}

.balance-card {
  padding: 26px;

  border-radius: 32px;

  background:
    linear-gradient(
      135deg,
      rgba(105,245,140,0.16),
      rgba(255,255,255,0.04)
    );

  border: 1px solid rgba(255,255,255,0.08);

  box-shadow: var(--shadow);
}

.balance-card p {
  color: rgba(255,255,255,0.72);

  font-size: 14px;
}

.balance-card h2 {
  font-size: 54px;

  margin-top: 8px;

  letter-spacing: -2px;
}

.balance-stats {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 12px;

  margin-top: 22px;
}

.balance-stats div {
  background:
    rgba(255,255,255,0.06);

  padding: 16px;

  border-radius: 20px;
}

.balance-stats span {
  color: var(--sub);

  font-size: 13px;
}

.balance-stats strong {
  display: block;

  margin-top: 8px;

  font-size: 24px;
}

.transactions-section {
  margin-top: 22px;
}

.section-header {
  margin-bottom: 14px;
}

.section-header h3 {
  font-size: 22px;
}

.transaction-item {
  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 18px;

  border-radius: 24px;

  margin-bottom: 12px;

  background: var(--card);

  border: 1px solid var(--border);
}

.transaction-left {
  display: flex;

  align-items: center;

  gap: 14px;
}

.transaction-icon {
  width: 52px;
  height: 52px;

  border-radius: 18px;

  display: flex;

  align-items: center;
  justify-content: center;

  background:
    rgba(255,255,255,0.06);

  font-size: 22px;
}

.transaction-category {
  font-size: 16px;

  font-weight: 700;

  margin-bottom: 4px;
}

.transaction-meta {
  color: var(--sub);

  font-size: 12px;
}

.transaction-amount {
  font-size: 22px;

  font-weight: 800;
}

.income {
  color: var(--green);
}

.expense {
  color: var(--red);
}